
p{
    margin: 0;
    font-size: 20px;
    clear: left;

}
span {
    background-color: blueviolet;

}

.box{

    position:sticky;
    top: 10px;
    width: 100px;
    height: 100px;
    background-color: chartreuse;
    
    margin: -4px;
    /* float: left; */
}

.other{
    background-color: aquamarine;
    display: inline-block;
    width: 10em;
    height: 10em;
    margin: -4px;

}

body{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
}